/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(180deg, #594cee 0%, #8dd0f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hide {
  display: none;
}

.container {
  background-color: #594cee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: 1rem;
}

/* form */
.form h3 {
  margin-bottom: 1rem;
}
.form-input-container {
  display: flex;
}
.form input {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}
.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  color: #594cee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Clima */
#weather-data {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
#weather-data h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}
#weather-data h2 i {
  font-size: 1rem;
}
#weather-data span {
  margin: 0.6rem;
}
#country {
  height: 25px;
}
#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}
#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#details-container #umidity {
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}
#temperature {
  font-size: 1.5rem; /* Tamanho maior para a temperatura */
  font-weight: bold; /* Texto em negrito */
  margin: 1rem 0; /* Espaçamento */
}

#temperature span {
  margin: 0; /* Remove a margem padrão que você definiu para spans em geral */
}
